<div class="center jumbotron">
  <h1>Black Music Library</h1>
  <p>
    This is where you find some awesome black music.
  </p>

  <%= link_to "Sign up now!", signup_path , class: "btn btn-lg btn-primary" %>
</div>
