<% provide(:title, "Songs") %>

<h1>Check them out !!!</h1>

<% @movies.each do |movie| %>
  <li class="movies-item">
    <ul>
      <iframe width="300" height="200" src="https://www.youtube.com/embed/<%= movie[:id][:video_id] %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <!-- <li>
        <%# <%= link_to movie[:snippet][:title], "https://www.youtube.com/watch?v=#{movie[:id][:video_id]}", target: "_blank", class: "search-movie-title"  %> %>
      </li>
      <li>
        <%# <%= image_tag(movie[:snippet][:thumbnails][:default][:url], alt: "thumbnail", class: "thumbnail") %> %>
      </li> -->
    </ul>
  </li>
<% end %>
