<% provide(:title, 'All users') %>


<h1>All users</h1>

<div class="pagination">
  <%= will_paginate %>
</div>

<ul class="users">
  <li><%= render @users %></li>
</ul>

<div class="pagination">
  <%= will_paginate %>
</div>
