<% provide(:title, "About") %>


<h1>About</h1>
<p>
  This is the website for people who are into blach music!
</p>
<p>
  Or this could be a chance for people who like music in general but don't know much about black music as well!
</p>
