<% provide(:title, "About") %>


<h1>About</h1>
<p>
  This is the website for people who are into Stand-up comedy!
</p>
<p>
  Or this could be one of the best practice for people who want to learn English as well!
</p>
