<div class="center jumbotron">
  <h1>Stand-up Comedy Library</h1>
  <p>
    This is where you laugh to death!
  </p>

  <img class = "stand-up-comedy-img" src="https://i.pinimg.com/564x/a9/3d/ab/a93dab61f61a0b5fd3b26f124d26878a.jpg" alt="stand up comedy">
  <br>
  <br>
  <%= link_to "Sign up now!", signup_path , class: "btn btn-lg btn-primary" %>
</div>
