<% provide(:title, "Songs") %>

<h1>Check them out !!!</h1>

<div class="videos_index">
  <% @videos.each do |video| %>
    <% video = video[:id][:video_id] %>
      <div class="video-item">
        <ul>
          <li>
            <iframe width="300" height="200" src="https://www.youtube.com/embed/<%= video %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </li>
          <div id="like_btn_<%= video %>">
            <% if Like.find_by(user_id: current_user.id, video_id: video) %>
              <p>Already in your playlist.</p>
            <% else %>
              <li><%= link_to "Like", likes_path(user_id: current_user.id, video_id: video), class: "btn btn-primary", method: :post %></li>
            <% end %>
          </div>
        </ul>
      </div>
  <% end %>
</div>
